.nav {
  display: flex;
  --bs-nav-link-hover-color: #fff;
  /* --bs-navbar-active-color: #fff; */
  --bs-nav-link-color: #6c757d;
  list-style-type: none;
}

.nav a.active {
  color: #fff;
}

.navlink {
  text-decoration: none;
}
