@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
